/*
    httperror.css - Error Page Styling
*/
body{
    margin:0;
    padding:0;
    background:#000;
    font-family:"Helvetica Neue",Helvetica, Arial !important;
}

@media print {
  body {
    display:none;
  }
}

.over-dark-bg {
    color:yellow !important;
}

/*
    Box styling
*/
.httperror-banner {
    width: 80%;
    margin-left: 10%;
    margin-bottom:10%;

    /* border: 3px solid yellow; */
    background-color: rgba(79, 79, 79, 0.79);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);

	border-radius:1.5em;
	-webkit-border-radius:1.5em;
	-moz-border-radius:1.5em;
	-o-border-radius:1.5em;
	-ms-border-radius:1.5em;

    padding: 1%
}

.httperror-content {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
   
    gap: 0px;
    height: 100%;

    text-align:center;
}

.httperror-banner-border {
    border-color: #3d425c;
    border-style: ridge;
    border-width: 10px;
}

.httperror-banner-shadow {
    -webkit-box-shadow: 18px 18px 20px 0px rgba(0,0,0,0.70);
    -moz-box-shadow: 18px 18px 20px 0px rgba(0,0,0,0.70);
    box-shadow: 18px 18px 20px 0px rgba(0,0,0,0.70);
}

.httperror-heading {

}

/*
    Media breaks
*/
@media (min-width:100px) {
    .httperror-banner {
        margin-top:25%;
    }
    .httperror-heading {
        font-size:22px;
    }
}

@media (min-width:300px) {
    .httperror-banner {
        margin-top:20%;
        margin-bottom:20%;
    }
    .httperror-heading {
        font-size:28px;
    }
}

@media (min-width:400px) {
    .httperror-banner {
        margin-top:15%;
        margin-bottom:15%;
    }
}

@media (min-width:500px) {
    .httperror-banner {
        margin-top:15%;
        margin-bottom:15%;
    }
    .httperror-heading {

    }
}

@media (min-width:600px) {
    .httperror-banner {
        width: 90%;
        margin-left: 5%;
        margin-top:10%;
        margin-bottom:10%;
    }
    .httperror-heading {

        font-size:32px;
    }
}

@media (min-width:700px) {
    .httperror-banner {
        margin-top:15%;
        margin-bottom:15%;
    }
}

@media (min-width:900px) {
    .httperror-banner {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom:10%;
    }
    .httperror-heading {
        font-size:44px;
    }
}

@media (min-width:1199px) {
    .httperror-banner {
        margin-top:10%;
        margin-bottom:5%;
        width: 80%;
        margin-left: 10%;
    }
    .httperror-heading {
        padding-top:0%;
    }
}

#errcode {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
}

#explan {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
}

#explan span {
    color: white;
    font-weight: bold;
}

#trythis {
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
}

#trythis a {
    color: white;
    font-weight: bold;
}
